.paper {
  margin-bottom: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.paper .info {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.paper .info p {
  margin: 0;
}
.paper .info p span {
  cursor: pointer;
}
